body {
    background-color: #fff
    
}

#auth {
    height: 100vh;
    overflow-x: hidden
}

#auth #auth-right {
    height: 100%;
    background:  linear-gradient(90deg,#f70d8200, #eb2577f7),url(../../images/bg/login_bg.jpg);
    background-size: cover;
}

#auth #auth-left {
    padding: 5rem 8rem;
}

#auth #auth-left .auth-title {
    font-size: 4rem;
    margin-bottom: 1rem
}

#auth #auth-left .auth-subtitle {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #a8aebb
}

#auth #auth-left .auth-logo {
    margin-bottom: 7rem
}

#auth #auth-left .auth-logo img {
    height: 3rem
}

@media screen and (max-width:767px) {
    #auth #auth-left {
        padding: 5rem
    }
}